/* uncomment if you do have pywal configured */
 /* @import url("/home/USER/.cache/wal/colors.css"); */

:vars {
    --background: #150d16;
    --foreground: #f5dbc4;
    --color0: #150d16;
    --color1: #72448D;
    --color2: #9C5995;
    --color3: #D5719F;
    --color4: #9A62F3;
    --color5: #E075DF;
    --color6: #F98F9F;
    --color7: #f5dbc4;
    --color8: #ab9989;
    --color9: #72448D;
    --color10: #9C5995;
    --color11: #D5719F;
    --color12: #9A62F3;
    --color13: #E075DF;
    --color14: #F98F9F;
    --color15: #f5dbc4;
}

* {
    all: unset;
    transition: color 0.5s ease;
    color: alpha(var(--foreground), 0.8);
    /* font-family: "Iosevka Nerd Font"; */
    font-family: "Sarasa Term K Nerd Font";
    font-weight: 700;
}

#clockWindow {
  border: 1px;
}

#date > label {
    font-size: 24px;
    padding-bottom: 2px;
}

#weather {
    /* font-family: "Sarasa Term K Nerd Font"; */
    font-family: "Iosevka Nerd Font";
    color : #E6CF6C;
    font-size: 18px;
    padding-bottom: 0px;
}

#location {
    /* font-family: "Sarasa Term K Nerd Font"; */
    font-family: "Iosevka Nerd Font";
    color : #E6CF6C;
    font-size: 12px;
    padding-bottom: 0px;
}

#clock > label {
    font-size: 80px;
    font-weight: 900;
}

#calendar {
    font-family: "Sarasa Term K Nerd Font";
    font-size: 16px;
    padding-bottom: 6px;
}

#calendar-overlay {
    font-family: "Sarasa Term K Nerd Font";
    color : #D581A2;
    font-size: 16px;
    padding-bottom: 6px;
}

#calendar-today {
    font-family: "Sarasa Term K Nerd Font";
    color : #88D8B0;
    font-size: 16px;
    padding-bottom: 6px;
}

/* 시간과 달력을 모두 포함한다. */
#clock_widget_box {
  background-color : alpha(#000000, 0.5);
  border-radius: 10px;
  padding-top:10px;
  padding-left:20px;
  padding-right:220px;
  padding-bottom:10px;
}

#calendar_widget_box {
  background-color : alpha(#000000, 0.0);
  /* border-radius: 15px; */
  padding-left: 40px;
  /* padding-top: 10px; */
}
